<% include header.html %>
<form action="/edit" method="post" enctype="multipart/form-data" class="box login">
	<label>User Name</label>
	  <input type="text" tabindex="1" placeholder="Enter Your User Name" name="username" value ="<%= user.user.username %>" readonly>
	<label>Name</label>
	  <input type="text" tabindex="1" placeholder="Enter Your Name" name="name" value ="<%= user.user.name %>" required>
	<label>Email</label>
	  <input type="text" tabindex="1" placeholder="Enter Your Email Address" name="email" value ="<%= user.user.email %>" readonly>
	  <label>Location</label>
	  <input type="text" tabindex="1" placeholder="Enter Your Location" name="address" value ="<%= user.user.address %>" required>
  <label>Image</label><img src="/image.png"  name="userimage" id="userimage"  />
    <input type="file" name="file">
	<footer>
	  <input type="submit" class="btnLogin" value="Update" tabindex="1">
	</footer>

</form>

</body>
</html>
