<!doctype html>
<html>
<head>
	<title>Knoldus Login Form</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/structure.css">


</head>
<body>

<form class="box login">
	<fieldset class="boxBody">

		<label>This is Node.js Login Template . If you want to use
			node.js and MongoDB as
			Database then This demo project can be used as a starting point for
			your application. <a href="/login"  tabindex="7" ><strong>Click here for Login Page. </a>
		</label>
		
</fieldset>
	
</form>
</body>
</html>
