<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="">
	<title>Knoldus Login Form</title>

<link rel="stylesheet" type="text/css" href="/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/css/structure.css" />

<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
 <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
  var socket = io.connect('http://localhost:8080');

  socket.on('connect', function(){
    socket.emit('adduser', "<%= user.user.name %>, <%= user.user.address %>");
  });

  socket.on('updateusers', function(data) {
    $('#users').empty();
var html = '<h2>Friend List</h2> <ul><% for(var i=0; i<friends.length; i++) { %><li><a href="#">'
    $.each(data, function(key, value) {

var str = "<%= friends[i] %>";

if(key =='<%= friends[i] %>') {

	if(html.indexOf(str) != -1){
		html += '<img src="images/green-dot.png"  >'
	}else{
		html += '<img src="images/green-dot.png" ><%= friends[i] %>'
	}	
   }else{

	if(html.indexOf(str) != -1){
		html += ''
	}else{
		html += '<%= friends[i] %>'
	}	


}

     
    });

	html +=  '</a></li><% } %> </ul>'


$('#users').append(html)

  });


</script>
<style>

 
h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
li:last-child {
  border: none;
}
 
li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 600px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
li a:hover {
  font-size: 30px;
  color: #00FFFF;
  background: #f6f6f6;
}
</style>
<script>
$(function () {

  $("#search-query").autocomplete({
      source: function (request, response) {
         $.ajax({
            url: "/search_member",
            type: "GET",
            data: request,  // request is the value of search input
            success: function (data) {
              // Map response values to fiedl label and value
               response($.map(data, function (el) {
                  return {
                     label: el.user.name+', '+el.user.address,
                     value: el._id
                  };
                  }));
               }
            });
         },
         
         // The minimum number of characters a user must type before a search is performed.
         minLength: 3, 
         
         // set an onFocus event to show the result on input field when result is focused
         focus: function (event, ui) { 
            this.value = ui.item.label; 
            // Prevent other event from not being execute
            event.preventDefault();
         },
         select: function (event, ui) {
            // Prevent value from being put in the input:
            this.value = ui.item.label;
            // Set the id to the next input hidden field
            $(this).next("input").val(ui.item.value); 
            // Prevent other event from not being execute            
            event.preventDefault();
            // optionnal: submit the form after field has been filled up
            $('#quicksearch').submit();
         }
  });

});
</script>
</head>
<body>
<div id="content">

<div class="topContent">
          <fieldset class="">
		<br>
            <label>Welcome  <%= user.user.username %></label>
          </fieldset>
        </div>
        <div id="menu">
          <fieldset class="">
            <ul class="menu">
              <li><label><a href="/user">
                           <span>Profile</span>
                         </a></label></li>
              <li><label><a href="/profile">
                           <span>Friend List</span>
                         </a></label></li>
              <li><label><a href="/password">
                           <span>Password Setting</span>
                         </a></label></li>
              <li><label><a href="/reminder">
                           <span>Birthday Reminder</span>
                         </a></label></li>
              <li><label><a href="/chat">
                           <span>Chat</span>
                         </a></label></li>
              <li><label><a href="/logout">
                           <span>Log Out</span>
                         </a></label></li>
            </ul>
          </fieldset>
        </div>

<form action="/friend" method="post" >
<div class="box profile">
		<fieldset class="">
			<div  class="row">
				<div class="span12">
					<input type="text" id="search-query"><input type="hidden" id="anotherfriendid" name="anotherfriendid">

<input type="hidden" id="mainfriendid" name="mainfriendid" value ="<%= user._id %>">
<input type="submit" class="btnLogin" value="Add" tabindex="4">
				</div>
				<br>
				<br>
			</div>
		</fieldset>
	</div>
</form>

<div class="box reminder" id="users">



</div>
</div>
</body>
</html>
