<% include header.html %>
<div class="box profile">
		<fieldset class="">
			<div  class="row">
				<div class="span12">
					<label><strong>User Name:</strong> <%= user.user.username %></label>
					<label><strong>Name:</strong> <%= user.user.name %></label> 
					<label><strong>Email:</strong> <%= user.user.email %></label> 
					<label><strong>Location:</strong> <%= user.user.address %></label> 
				</div>
				<img src="/image.png"   name="userimage" id="userimage"  />
				<br>
				<br>
				<div class="span4">
					<label><a href="/edit"><strong>Update Profile</strong></a></label>
				</div>
			</div>
		</fieldset>
	</div>
</body>
</html>
